In [1]:
import pandas as pd
from sklearn.metrics import accuracy_score 
from sklearn.model_selection import cross_val_score
import numpy as np

In [2]:
train_data = pd.read_csv('./data-science-london-scikit-learn/train.csv',header = None)
train_labels = pd.read_csv('./data-science-london-scikit-learn/trainLabels.csv',header = None)
test_data =  pd.read_csv('./data-science-london-scikit-learn/test.csv',header = None)

In [3]:
print(train_data.shape)
print(train_labels.shape)
print(test_data.shape)

(1000, 40)
(1000, 1)
(9000, 40)

In [4]:
train_data.describe()

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,...,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,0.025596,-0.024526,-0.024088,-0.002271,1.092329,-0.006250,0.497342,-0.037883,0.026391,-0.003597,...,0.030651,0.022951,-0.542491,-0.011608,-0.483507,0.033371,0.567185,0.006849,-0.892659,0.609451
std,1.008282,1.016298,0.979109,0.970575,4.538834,0.989128,2.118819,2.232256,1.001064,1.013520,...,1.011645,1.001375,2.239939,1.022456,2.121281,1.007044,2.227876,0.997635,2.022022,2.045439
min,-3.365711,-3.492086,-2.695602,-3.460471,-16.421901,-3.041250,-7.224761,-6.509084,-3.145588,-2.749812,...,-3.379194,-2.971125,-7.840890,-2.999564,-7.124105,-2.952358,-5.452254,-3.473913,-8.051722,-7.799086
25%,-0.669010,-0.693937,-0.698830,-0.617557,-1.801997,-0.732265,-0.838619,-1.604037,-0.677562,-0.682220,...,-0.659457,-0.696032,-2.121943,-0.664550,-1.879247,-0.642861,-1.059786,-0.691162,-2.220126,-0.565041
50%,0.027895,-0.033194,0.008145,0.002327,0.862818,0.027041,0.582321,0.018809,0.022092,-0.036110,...,0.049416,0.049778,-0.568262,-0.028097,-0.493575,0.037732,0.455474,0.038284,-0.855470,0.779944
75%,0.762520,0.682753,0.661434,0.640743,3.843172,0.671456,1.913664,1.438304,0.741310,0.665364,...,0.747031,0.699917,0.939348,0.651374,1.005795,0.691800,2.122157,0.693535,0.388698,1.992193
max,3.326246,3.583870,2.546507,3.088738,17.565345,3.102997,7.592666,7.130097,3.145258,3.919426,...,2.844792,3.688047,7.160379,3.353631,6.005818,3.420561,6.603499,3.492548,5.774120,6.803984

### PRE-PROCESSING
* Train-Test Split

In [5]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(train_data, train_labels, test_size = 0.30, random_state = 101)

In [6]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(700, 40)
(300, 40)
(700, 1)
(300, 1)

### without feature scaling

In [7]:
#LOGISTIC REGRESSION
from sklearn.linear_model import LogisticRegression

lr_model = LogisticRegression(solver = 'saga')
lr_model.fit(x_train, y_train.values.ravel())
lr_predicted = lr_model.predict(x_test)
print('Accuracy = ',accuracy_score(y_test, lr_predicted))

Accuracy =  0.82

In [8]:
# Cross validation
scores = cross_val_score(lr_model, train_data, train_labels.values.ravel(), cv=5, scoring='accuracy')
print('Accuracy = ', scores.mean())

Accuracy =  0.82

### predict test data

In [9]:
lr_test_predicted = lr_model.predict(test_data)

### 產生submission DataFrame

In [10]:
import numpy as np
submission_df = pd.DataFrame()
submission_df['Id'] = np.arange(test_data.shape[0])+1
submission_df['Solution'] = lr_test_predicted
submission_df

        Id  Solution
0        1         1
1        2         0
2        3         1
3        4         0
4        5         0
...    ...       ...
8995  8996         1
8996  8997         1
8997  8998         1
8998  8999         0
8999  9000         1

[9000 rows x 2 columns]

### 存成 csv

In [11]:
#產生submission DataFrame
submission_df.to_csv('submission_no_normalization.csv', index=False)

### feature scaling

In [12]:
df = pd.concat([train_data, test_data]) #上下合併成一個大的DataFrame (方便做 Scaling)
df

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
0,0.299403,-1.226624,1.498425,-1.176150,5.289853,0.208297,2.404498,1.594506,-0.051608,0.663234,...,-0.850465,-0.622990,-1.833057,0.293024,3.552681,0.717611,3.305972,-2.715559,-2.682409,0.101050
1,-1.174176,0.332157,0.949919,-1.285328,2.199061,-0.151268,-0.427039,2.619246,-0.765884,-0.093780,...,-0.819750,0.012037,2.038836,0.468579,-0.517657,0.422326,0.803699,1.213219,1.382932,-1.817761
2,1.192222,-0.414371,0.067054,-2.233568,3.658881,0.089007,0.203439,-4.219054,-1.184919,-1.240310,...,-0.604501,0.750054,-3.360521,0.856988,-2.751451,-1.582735,1.672246,0.656438,-0.932473,2.987436
3,1.573270,-0.580318,-0.866332,-0.603812,3.125716,0.870321,-0.161992,4.499666,1.038741,-1.092716,...,1.022959,1.275598,-3.480110,-1.065252,2.153133,1.563539,2.767117,0.215748,0.619645,1.883397
4,-0.613071,-0.644204,1.112558,-0.032397,3.490142,-0.011935,1.443521,-4.290282,-1.761308,0.807652,...,0.513906,-1.803473,0.518579,-0.205029,-4.744566,-1.520015,1.830651,0.870772,-1.894609,0.408332
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8995,0.171644,-0.806952,-2.045671,0.021156,2.258491,0.429469,0.857187,0.972600,1.707492,1.676370,...,-1.366312,0.276543,-0.732764,0.243930,-1.151233,-0.274298,0.573013,1.109814,-1.905965,1.457601
8996,1.168564,-0.911253,1.685492,0.867183,3.606170,-0.673875,-1.889365,0.411385,-0.206817,-0.705771,...,0.557757,0.379841,-1.474198,-0.322943,1.964519,0.122384,0.678023,2.024129,0.386542,1.104493
8997,0.052274,-1.736558,-0.263699,-0.219329,8.918393,-1.258320,-3.361146,0.893366,-0.631669,1.887286,...,2.117847,-1.050824,0.182872,0.242725,0.670161,0.112752,-3.006949,1.179606,1.156340,-1.218561
8998,1.443659,0.651892,0.550724,-1.146664,2.621641,-0.867143,0.312742,1.078004,-1.212524,-0.028143,...,0.631480,1.186236,-1.098508,1.159658,-1.957241,0.482533,3.777669,-0.424954,1.333374,2.325271
8999,-0.429145,-0.110821,1.257230,-0.088150,-3.925020,-0.251062,-2.212032,-2.692121,-0.005468,0.186300,...,0.384256,0.520610,1.594873,-0.352201,0.152333,-1.772249,0.758809,0.617485,1.464438,3.301445

### 三種不同的 Scaling

In [13]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler, Normalizer

std = StandardScaler()
df_std = std.fit_transform(df) #對每一個 column 轉換
mms = MinMaxScaler()
df_mms = mms.fit_transform(df) #對每一個 column 轉換
norm = Normalizer()
df_norm = norm.fit_transform(df) #對每一個 sample 轉換 (2 norm = 1)

In [14]:
#將 Scaling 後的資料拆回 train 與 test
train_data_std = df_std[:1000]
test_data_std = df_std[1000:]

train_data_mms = df_mms[:1000]
test_data_mms = df_mms[1000:]

train_data_norm = df_norm[:1000]
test_data_norm = df_norm[1000:]

In [15]:
pd.DataFrame(train_data_std).describe()

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,...,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,0.012289,-0.025605,-0.020246,-0.009925,-0.033806,-0.011044,0.007169,-0.008422,0.017729,0.002778,...,0.044418,0.014059,-0.026760,-0.024602,0.010804,0.031838,0.047612,0.008003,0.050171,0.031078
std,0.998993,1.004391,0.984162,0.983269,1.002290,0.990628,1.007121,1.011337,1.010852,1.019960,...,1.007332,0.998338,1.015314,1.005977,1.010305,0.998820,1.016467,0.997830,1.019172,1.015129
min,-3.347772,-3.452538,-2.705546,-3.513355,-3.901396,-3.050647,-3.663317,-2.940238,-3.185267,-2.760885,...,-3.350889,-2.970935,-3.334961,-2.964402,-3.151919,-2.929508,-2.698753,-3.473441,-3.558255,-4.141987
25%,-0.675917,-0.687174,-0.698470,-0.633259,-0.672947,-0.738160,-0.627843,-0.717978,-0.693108,-0.680157,...,-0.642747,-0.702743,-0.742690,-0.667021,-0.653946,-0.638872,-0.694692,-0.690144,-0.618920,-0.551810
50%,0.014568,-0.034171,0.012154,-0.005266,-0.084488,0.022297,0.047561,0.017263,0.013388,-0.029941,...,0.063103,0.040805,-0.038441,-0.040825,0.006009,0.036163,-0.003356,0.039444,0.068916,0.115691
75%,0.742424,0.673387,0.668814,0.641499,0.573650,0.667690,0.680378,0.660373,0.739638,0.675990,...,0.757743,0.688972,0.644925,0.627696,0.720116,0.684889,0.757067,0.694823,0.696022,0.717318
max,3.282530,3.540515,2.563614,3.121511,3.603857,3.102918,3.379732,3.239074,3.167094,3.950727,...,2.846561,3.668039,3.464779,3.286401,3.101481,3.391365,2.801677,3.494385,3.410468,3.105357

In [16]:
pd.DataFrame(test_data_std).describe()

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
count,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,...,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000
mean,-0.001365,0.002845,0.002250,0.001103,0.003756,0.001227,-0.000797,0.000936,-0.001970,-0.000309,...,-0.004935,-0.001562,0.002973,0.002734,-0.001200,-0.003538,-0.005290,-0.000889,-0.005575,-0.003453
std,1.000214,0.999582,1.001828,1.001945,0.999786,1.001138,0.999314,0.998840,0.998880,0.997870,...,0.999172,1.000283,0.998352,0.999408,0.998954,1.000179,0.998126,1.000348,0.997805,0.998358
min,-3.548824,-4.189780,-3.602020,-3.701457,-4.094533,-3.510739,-4.582089,-3.555460,-4.085574,-3.683606,...,-4.512339,-3.911279,-3.638393,-4.639969,-3.979075,-3.551701,-4.333347,-3.820275,-3.620316,-4.214601
25%,-0.676784,-0.672206,-0.664706,-0.678850,-0.643600,-0.694595,-0.654190,-0.680703,-0.669486,-0.663269,...,-0.672383,-0.671338,-0.681088,-0.676132,-0.667731,-0.684995,-0.699811,-0.666337,-0.655798,-0.627412
50%,-0.007022,0.009266,0.011389,0.001521,-0.026816,0.006709,0.024848,-0.000782,-0.015273,0.000956,...,-0.019947,-0.012182,0.010959,-0.000223,0.011757,-0.002112,-0.019730,-0.002103,-0.005952,0.044770
75%,0.683799,0.675366,0.665474,0.684822,0.608810,0.687229,0.669586,0.670277,0.674375,0.664905,...,0.666859,0.671275,0.684274,0.667501,0.697043,0.659627,0.673205,0.668822,0.662199,0.670235
max,3.795067,3.496040,3.739246,3.708164,4.263375,4.567635,3.517359,3.357372,3.733996,3.350158,...,3.623083,4.229599,4.116681,4.076872,3.504294,3.878514,3.723680,3.862021,4.091788,4.425738

In [17]:
pd.DataFrame(train_data_mms).describe()

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,...,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,0.484908,0.538683,0.487896,0.498208,0.485854,0.433218,0.566614,0.513109,0.524748,0.482869,...,0.560113,0.482176,0.465712,0.529477,0.533166,0.482293,0.543744,0.498325,0.475939,0.491379
std,0.136030,0.129929,0.134059,0.132702,0.119921,0.122627,0.124344,0.146299,0.129272,0.133602,...,0.123820,0.122633,0.130923,0.115406,0.135007,0.134427,0.126159,0.129887,0.132152,0.117487
min,0.027377,0.095370,0.122114,0.025386,0.023108,0.056954,0.113436,0.088997,0.115135,0.120865,...,0.142765,0.115509,0.039127,0.192222,0.110532,0.083738,0.202878,0.045147,0.008047,0.008404
25%,0.391197,0.453101,0.395511,0.414083,0.409383,0.343210,0.488212,0.410466,0.433843,0.393413,...,0.475647,0.394127,0.373395,0.455778,0.444336,0.392025,0.451613,0.407447,0.389180,0.423918
50%,0.485219,0.537574,0.492309,0.498837,0.479790,0.437345,0.571601,0.516825,0.524193,0.478583,...,0.562410,0.485462,0.464206,0.527616,0.532525,0.482875,0.537418,0.502417,0.478369,0.501172
75%,0.584329,0.629105,0.581757,0.586124,0.558535,0.517236,0.649732,0.609856,0.617069,0.571051,...,0.647795,0.565080,0.552325,0.604309,0.627951,0.570184,0.631798,0.587728,0.559684,0.570802
max,0.930209,1.000000,0.839860,0.920826,0.921091,0.818687,0.983008,0.982887,0.927502,1.000000,...,0.904550,0.931020,0.915939,0.909317,0.946172,0.934437,0.885565,0.952145,0.911656,0.847184

In [18]:
pd.DataFrame(test_data_mms).describe()

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
count,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,...,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000
mean,0.483049,0.542363,0.490960,0.499696,0.490349,0.434737,0.565630,0.514463,0.522229,0.482465,...,0.554047,0.480257,0.469546,0.532613,0.531562,0.477532,0.537178,0.497167,0.468710,0.487382
std,0.136197,0.129307,0.136465,0.135222,0.119622,0.123928,0.123381,0.144491,0.127741,0.130708,...,0.122817,0.122872,0.128735,0.114653,0.133490,0.134610,0.123883,0.130215,0.129382,0.115546
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.391079,0.455038,0.400110,0.407930,0.412894,0.348603,0.484959,0.415858,0.436864,0.395626,...,0.472004,0.397984,0.381338,0.454733,0.442494,0.385817,0.450977,0.410546,0.384398,0.415168
50%,0.482279,0.543193,0.492205,0.499753,0.486691,0.435415,0.568796,0.514214,0.520527,0.482630,...,0.552201,0.478953,0.470576,0.532274,0.533293,0.477724,0.535386,0.497009,0.468661,0.492963
75%,0.576346,0.629361,0.581302,0.591971,0.562742,0.519655,0.648399,0.611289,0.608723,0.569599,...,0.636623,0.562907,0.557399,0.608875,0.624868,0.566784,0.621390,0.584343,0.555298,0.565352
max,1.000000,0.994247,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.921333,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [19]:
pd.DataFrame(train_data_norm).describe()

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,...,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,0.001909,-0.001958,-0.002493,0.000198,0.075241,-0.001176,0.043639,-0.002571,0.000999,-0.000127,...,0.003521,0.001226,-0.041404,-0.002476,-0.037279,0.003892,0.051096,-0.000477,-0.078550,0.052232
std,0.090079,0.092001,0.087908,0.087827,0.335133,0.090284,0.175457,0.194029,0.090568,0.091319,...,0.091538,0.090018,0.187332,0.093296,0.175741,0.091667,0.184517,0.090804,0.170596,0.176901
min,-0.351420,-0.305310,-0.312256,-0.337842,-0.717745,-0.309910,-0.523103,-0.560034,-0.390677,-0.314871,...,-0.266408,-0.398804,-0.532078,-0.323954,-0.487501,-0.302460,-0.398770,-0.448629,-0.588696,-0.566194
25%,-0.056715,-0.057565,-0.059031,-0.053371,-0.170968,-0.060758,-0.078108,-0.131397,-0.056404,-0.056668,...,-0.055538,-0.055359,-0.183630,-0.059138,-0.163870,-0.054918,-0.086019,-0.057781,-0.187683,-0.046980
50%,0.002344,-0.002885,0.000572,0.000192,0.080247,0.002487,0.049628,0.001302,0.001879,-0.002959,...,0.004135,0.004148,-0.050088,-0.002231,-0.042285,0.002374,0.041372,0.003332,-0.078155,0.065644
75%,0.063633,0.054275,0.055241,0.054234,0.330532,0.056881,0.173153,0.120688,0.062978,0.056444,...,0.063218,0.061087,0.087087,0.052991,0.089400,0.062001,0.190776,0.057424,0.033331,0.174824
max,0.330082,0.341547,0.308313,0.300482,0.799352,0.334467,0.525925,0.589127,0.279370,0.313605,...,0.301746,0.316482,0.525928,0.339052,0.444281,0.346195,0.597524,0.318515,0.469040,0.535008

In [20]:
pd.DataFrame(test_data_norm).describe()

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
count,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,...,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000
mean,0.001120,0.000370,-0.000357,0.000647,0.085303,0.000233,0.042871,-0.003515,0.000669,-0.000724,...,-0.001794,0.000781,-0.034707,0.001016,-0.039639,-0.000220,0.041612,0.000015,-0.085685,0.047151
std,0.091768,0.091462,0.090406,0.089257,0.330734,0.090533,0.174973,0.189059,0.089479,0.090292,...,0.090809,0.090855,0.180994,0.092203,0.174276,0.091557,0.182350,0.090879,0.165516,0.171586
min,-0.383998,-0.455323,-0.421087,-0.416607,-0.741952,-0.380276,-0.564111,-0.585352,-0.375862,-0.421333,...,-0.420399,-0.377068,-0.617641,-0.500052,-0.627999,-0.434680,-0.540130,-0.420513,-0.648147,-0.591791
25%,-0.057164,-0.056851,-0.056683,-0.056514,-0.161007,-0.058320,-0.076611,-0.134631,-0.055416,-0.057198,...,-0.058292,-0.056919,-0.167347,-0.057406,-0.165697,-0.058566,-0.090477,-0.056383,-0.199069,-0.060442
50%,0.000547,0.000891,0.000650,0.000743,0.106868,0.000896,0.048114,-0.001855,-0.000462,-0.000426,...,-0.003203,-0.000269,-0.041698,0.001113,-0.042221,-0.000079,0.036801,-0.000209,-0.087389,0.055533
75%,0.059936,0.058150,0.055399,0.058077,0.340350,0.058299,0.163862,0.126504,0.057769,0.056232,...,0.054920,0.058788,0.090327,0.057972,0.084713,0.056779,0.172292,0.056852,0.027738,0.165918
max,0.363995,0.407991,0.437808,0.382204,0.810945,0.479678,0.602755,0.619861,0.397446,0.419098,...,0.418046,0.415062,0.611899,0.440156,0.609579,0.377665,0.635666,0.429017,0.579786,0.573321

In [21]:
x_train_std, x_test_std, y_train, y_test = train_test_split(train_data_std, train_labels, test_size = 0.30, random_state = 101)

lr_model_std = LogisticRegression(solver = 'saga')
lr_model_std.fit(x_train_std, y_train.values.ravel())
lr_predicted_std = lr_model_std.predict(x_test_std)
print('Accuracy = ',accuracy_score(y_test, lr_predicted_std))

Accuracy =  0.82

In [22]:
# Cross validation
scores = cross_val_score(lr_model_std, train_data_std, train_labels.values.ravel(), cv=5, scoring='accuracy')
print('Accuracy = ', scores.mean())

Accuracy =  0.82

In [23]:
x_train_mms, x_test_mms, y_train, y_test = train_test_split(train_data_mms, train_labels, test_size = 0.30, random_state = 101)

lr_model_mms = LogisticRegression(solver = 'lbfgs')
lr_model_mms.fit(x_train_mms, y_train.values.ravel())
lr_predicted_mms = lr_model_mms.predict(x_test_mms)
print('Accuracy = ',accuracy_score(y_test, lr_predicted_mms))

Accuracy =  0.8266666666666667

In [24]:
# Cross validation
scores = cross_val_score(lr_model_mms, train_data_mms, train_labels.values.ravel(), cv=5, scoring='accuracy')
print('Accuracy = ', scores.mean())

Accuracy =  0.819

In [25]:
x_train_norm, x_test_norm, y_train, y_test = train_test_split(train_data_norm, train_labels, test_size = 0.30, random_state = 101)

lr_model_norm = LogisticRegression(solver = 'saga')
lr_model_norm.fit(x_train_norm, y_train.values.ravel())
lr_predicted_norm = lr_model_norm.predict(x_test_norm)
print('Accuracy = ',accuracy_score(y_test, lr_predicted_norm))

Accuracy =  0.8066666666666666

In [26]:
# Cross validation
scores = cross_val_score(lr_model_norm, train_data_norm, train_labels.values.ravel(), cv=5, scoring='accuracy')
print('Accuracy = ', scores.mean())

Accuracy =  0.825

### predict testing data

In [27]:
lr_test_predicted_std = lr_model_std.predict(test_data_std)
lr_test_predicted_mms = lr_model_std.predict(test_data_mms)
lr_test_predicted_norm = lr_model_std.predict(test_data_norm)

### 產生 三種 submission DataFrame

In [28]:
# std
submission_df_std = pd.DataFrame()
submission_df_std['Id'] = np.arange(test_data.shape[0])+1
submission_df_std['Solution'] = lr_test_predicted

# mms
submission_df_mms = pd.DataFrame()
submission_df_mms['Id'] = np.arange(test_data.shape[0])+1
submission_df_mms['Solution'] = lr_test_predicted_mms

#norm
submission_df_norm = pd.DataFrame()
submission_df_norm['Id'] = np.arange(test_data.shape[0])+1
submission_df_norm['Solution'] = lr_test_predicted_norm

In [29]:
submission_df_std

        Id  Solution
0        1         1
1        2         0
2        3         1
3        4         0
4        5         0
...    ...       ...
8995  8996         1
8996  8997         1
8997  8998         1
8998  8999         0
8999  9000         1

[9000 rows x 2 columns]

In [30]:
submission_df_mms

        Id  Solution
0        1         1
1        2         1
2        3         1
3        4         1
4        5         1
...    ...       ...
8995  8996         1
8996  8997         1
8997  8998         1
8998  8999         1
8999  9000         1

[9000 rows x 2 columns]

In [31]:
submission_df_norm

        Id  Solution
0        1         1
1        2         0
2        3         1
3        4         0
4        5         0
...    ...       ...
8995  8996         1
8996  8997         1
8997  8998         1
8998  8999         0
8999  9000         1

[9000 rows x 2 columns]

### 存成 csv

In [32]:
#產生submission DataFrame
submission_df_std.to_csv('submission_normalize_with_std.csv', index=False)
submission_df_mms.to_csv('submission_normalize_with_mms.csv', index=False)
submission_df_norm.to_csv('submission_normalize_with_norm.csv', index=False)